@media screen and (max-width: 868px) {
   #sub-div {
      position: absolute;
      height: 100%;
      z-index: 2;
      visibility: collapse;
   }

   #main-div {
      grid-template-columns: 10fr 5fr;
   }

   #daily-rep {
      position: absolute;
      visibility: collapse;
   }

   #prime-sec {
      grid-column: 1 / 3;
      grid-row: 2;
   }
}