* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   position: relative;
}

html,
body {
   width: 100%;
   height: 100%;
   font-family: Arial, Helvetica, sans-serif;
   color: #3f3f3f;
   background: #E0EAFC;
   background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
   background: linear-gradient(to right, #CFDEF3, #E0EAFC);
}

.cmn-stl {
   border-radius: 10px;
   padding: 10px;
   background-color: rgb(247, 251, 255);
}

main {
   width: 100%;
   height: 100%;
   display: flex;
   gap: 10px;
   padding: 10px;
}


#sub-div {
   flex: 1;
   min-width: 210px;
}

#main-div {
   margin-top: 1px;
   flex: 6;
   display: grid;
   grid-template-columns: 10fr 4fr;
   grid-template-rows: 50px 1fr;
   gap: 10px;
}

#top-nav {
   /* height: 50px; */
   grid-column: 1 / 3;
   grid-row: 1;
}

#prime-sec {
   grid-column: 1;
   grid-row: 2;
}

#daily-rep {
   /* position: absolute; */
   grid-row: 2;
   grid-column: 2;
}