* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   position: relative;
}

html,
body {
   width: 100%;
   height: 100%;
   font-family: Arial, Helvetica, sans-serif;
   color: #3f3f3f;
   /* color: aliceblue; */
   background: #e7eaec;
   /* background: #272c41; */
}

:root {
   --dark-bg: #272c41;
   --dark-fg: #343a53;
   --font-lgt: #f0f8ff;
   --font-drk: #3f3f3f;
}

.cmn-stl {
   border-radius: 20px;
   padding: 10px;
   box-shadow: 0px 0px 4px 0px #3f3f3f11;
   background: #fafbff;
   /* background: #343a53; */
}

main {
   width: 100%;
   height: 100%;
   display: flex;
   gap: 16px;
   padding: 16px;
}


#sub-div {
   flex: 1;
   min-width: 210px;
}

#main-div {
   margin-top: 1px;
   flex: 6;
   display: grid;
   grid-template-columns: 10fr 4fr;
   grid-template-rows: 50px 1fr;
   gap: 16px;
}

#top-nav {
   grid-column: 1 / 3;
   grid-row: 1;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#prime-sec {
   grid-column: 1;
   grid-row: 2;
}

#daily-rep {
   /* position: absolute; */
   grid-row: 2;
   grid-column: 2;
}

#profile {
   width: fit-content;
   display: flex;
   gap: 7px;
   align-items: center;
}
#profile img {
   width: 34px;
   aspect-ratio: 1;
   border-radius: 70px;
   border: 1px solid #638a8f73;
}
#profile h2 {
   font-weight: 200;
}
.nav-button {
   display: flex;
   gap: 5px;
   border: 1px solid red;
}
#add-new {
   display: flex;
   align-items: center;
   gap: 2px;
   padding: 5px 8px 5px 5px;
   font-size: 12px;
   border-radius: 60px;
   background-color: #c0fff6;
   border: 1px solid #638a8f73;
}
#add-new img {
   width: 16px;
   aspect-ratio: 1;
}
#drk-wht img {
   width: 30px;
   aspect-ratio: 1;
}
