* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #3f3f3f;
  background-color: #f7f7f7;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0.1rem;
  border: 2px solid royalblue;
  border-radius: 5px;
}
input[type="checkbox"]::before {
  content: "";
  width: 14px;
  height: 14px;
  clip-path: polygon(0 59%, 30% 100%, 100% 35%, 100% 14%, 32% 77%, 0 33%);
  transform: scale(0);
  background-color: royalblue;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:hover {
  color: black;
}

nav {
  display: flex;
  align-items: center;
}
main {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
}

#leftPanel {
  padding: 10px;
  /* width: fit-content; */
  border-radius: 10px;
  background-color: rgb(228, 236, 255);
}
#leftPanel .task-cat {
  /* border: 1px solid green; */
  margin-bottom: 20px;
}
#leftPanel .title {
  width: 200px;
  padding-bottom: 2px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(184, 198, 218);
}
.title h2 {
  font-weight: 100;
}

.cat-list {
  margin-top: 5px;
  /* border: 1px solid red; */
}

.cat-compo {
  border-radius: 8px;
  margin-top: 5px;
  padding: 6px 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgb(206, 218, 255);
  border: 1px solid rgba(65, 105, 225, 0.432);
}
.acnt-color {
  width: 8px;
  height: 8px;
  background-color: royalblue;
  border-radius: 3px;
}
.cat-name {
  font-size: 15px;
  flex: 1;
}
.task-count {
  font-size: 10px;
  color: rgb(255, 102, 0);
}

/* *************************** */

#mainPanel {
  flex: 1;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(228, 236, 255);
}

#task-view h2{
  font-weight: 300;
  padding-bottom: 3px;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(184, 198, 218);
}
.task {
  margin-top: 5px;
  padding: 6px 8px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(206, 218, 255);
  border: 1px solid rgba(65, 105, 225, 0.432);
}
.task .content {
  display: flex;
  flex: 1;
  gap: 5px;
  align-items: center;
}
.task .inf-util {
  display: flex;
  gap: 10px;
  align-items: center;
}
.task span {
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: rgb(179, 198, 255);
}
.edit-btn {
  width: 20px;
  height: 20px;
  border: 1px solid #3f3f3f;
  border-radius: 6px;
  padding: 1px;
  background-color: rgb(179, 198, 255);
}