@import url("styles/preset.css");



.cmn-stl {
   padding: 15px;
   border-radius: 18px;
   box-shadow: 0px 0px 4px 0px #3f3f3f28;
   background: var(--light-bg);
}
.pcrd-ttl {
   line-height: 25px;
   padding: 3px 2px;
   margin-bottom: 6px;
   border-bottom: 1px solid #4651701f;
   display: flex;
   justify-content: space-between;
}
/* ********** Element custome style ********** */


/* -------- id side-panel -------- */
#side-panel {
   flex: 1;
   min-width: 210px;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   overflow: hidden;
}

.panel-card {
   width: 100%;
   padding: 10px 10px 0 10px;
}



.pcrd-ttl img {
   width: 18px;
   aspect-ratio: 1;
}

.pi-scroll {
   max-height: 340px;
   overflow-y: auto;
}

.pi-scroll::-webkit-scrollbar {
   display: none;
}

#gap {
   flex: 1;
}

.setting {
   margin: 10px;
   padding: 7px 10px;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: var(--theme-col0r);
}

.setting .st-access {
   display: flex;
   align-items: center;
   gap: 7px;
}

.st-access img {
   width: 18px;
   aspect-ratio: 1;
}
#mode-btn {
   width: 35px;
   height: 20px;
   display: flex;
   align-items: center;
   padding: 1px;
   border: 1px solid #0c302a;
   border-radius: 3px;
}
.circle{
   width: 48%;
   height: 100%;
   background-color: var(--font-tuil-drk);
   border-radius: 2px;
}
.circle img {
   width: 15px;
}
.component {
   width: 100%;
   height: 30px;
   padding: 0 10px;
   margin-bottom: 2px;
   display: flex;
   align-items: center;
   gap: 5px;
   font-size: 14px;
   background-color: var(--light-fg);
   border-radius: 10px;
   cursor: pointer;
}

.c-name {
   flex: 1;
}

.acnt-clor {
   width: 8px;
   aspect-ratio: 1;
   border-radius: 2px;
   background: var(--theme-col0r);
   background: #25dbc0;
}


/* *************** id main-panel *************** */

#main-panel {
   margin-top: 1px;
   flex: 6;
   display: grid;
   grid-template-columns: 10fr 4fr;
   grid-template-rows: 50px 1fr;
   grid-template-areas:
      'nav nav'
      'task-panel daily-rep';
   gap: 16px;
}

/* ---------- child #main-panel ---------- */
#nav {
   padding: 0 12px;
   grid-area: nav;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#task-panel {
   grid-area: task-panel;
}

#daily-rep {
   grid-area: daily-rep;
}

/* ---------- id nav  ---------- */
#prof-info {
   display: flex;
   gap: 7px;
   align-items: center;
   width: fit-content;
}

#prof-info img {
   width: 34px;
   aspect-ratio: 1;
   border-radius: 70px;
   border: 1px solid #638a8f73;
}

#nav-buttons {
   display: flex;
   align-items: center;
   gap: 10px;
   cursor: pointer;
}

#add-task {
   display: flex;
   gap: 2px;
   align-items: center;
   padding: 3px 10px 3px 6px;
   font-size: 14px;
   border-radius: 10px;
   background-color: #c0fff6;
   border: 1px solid #638a8f73;
}

#add-task img {
   width: 18px;
   aspect-ratio: 1;
}

#calender img {
   width: 26px;
}


/* ---------- id task-panel elements ---------- */

.task-item-list {
   margin-top: 10px;
}

.task-item {
   padding: 6px 10px;
   margin-bottom: 2px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--light-fg);
   border-radius: 8px;
   cursor: pointer;
}
.task-item .inf-util{
   display: flex;
   align-items: center;
   gap: 10px;
}
.inf-util span {
   font-size: 11px;
   border-radius: 6px;
}

.inf-util .edit-btn {
   width: 24px;
   aspect-ratio: 1;
   display: grid;
   place-content: center;
}
.edit-btn img {
   width: 14px;
}